.lang-switcher__item {
	margin-top: auto;
	margin-bottom: 0;
	padding: 0;
	margin-right: 18px;
	transition: opacity .16s linear .1s;
}

.lang-switcher__item:last-child {
	margin-right: 0;
}

.lang-switcher__item:hover {
	opacity: .8;
}