.place__paragraph {
	margin: 0;
	padding-bottom: 24px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
}

.place__paragraph:last-child {
	padding-bottom: 0;
}

@media screen and (max-width: 768px) {
	.place__paragraph {
		max-width: 352px;
		font-size: 16px;
		line-height: 26px;
	}
}
