@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);

.cover {
	margin: 0 auto;
	margin-top: 92px;
	max-width: 1184px;
	min-height: 740px;
	background-image: url(../../images/cover-background-image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
	.cover {
		max-width: 1024px;
		min-height: 640px;
	}
}

@media screen and (max-width: 768px) {
	.cover {
		margin-top: 88px;
		max-width: 768px;
		min-height: 480px;
	}
}

@media screen and (max-width: 320px) {
	.cover {
		margin-top: 64px;
		max-width: 320px;
		min-height: 200px;
	}
}