.cover__title {
	position: relative;
	z-index: 2;
	margin: 0;
	padding: 0;
	max-width: 560px;
	font-family: Inter;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
	text-align: center;
}

@media screen and (min-width: 321px) and (max-width: 536px){
	.cover__title {
		margin-top: 33px;
		max-width: 255px;
		font-size: 32px;
		line-height: 35px;
	}
}

@media screen and (max-width: 320px) {
	.cover__title {
		margin-top: 33px;
		max-width: 255px;
		font-size: 32px;
		line-height: 35px;
	}
}