.container {
	max-width: 984px;
	margin: 0 auto;
	margin-top: 92px;
}

@media screen and (max-width: 1024px) {
	.container {
		max-width: 928px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		margin-top: 88px;
	}
}

@media screen and (max-width: 320px) {
	.container {
		margin-top: 64px;
	}
}