@import url(./__items/menu__items.css);
@import url(./__item/menu__item.css);
@import url(./__link/menu__link.css);

.menu {
	font-size: 16px;
	line-height: 18px;
}

@media screen and (max-width: 680px) {
	.menu {
		font-size: 24px;
		line-height: 24px;
	}
}