@import url(./__items/menu__items.css);
@import url(./__item/menu__item.css);
@import url(./__link/menu__link.css);

.menu {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}