@import url(./__items/menu__items.css);
@import url(./__item/menu__item.css);
@import url(./__link/menu__link.css);

.menu {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}

@media screen and (min-width: 320px) and (max-width: 680px){
	.menu {
		font-size: 24px;
		line-height: 24px;
	}
}

@media screen and (max-width: 320px) {
	.menu {
		font-size: 24px;
		line-height: 24px;
	}
}